
export NODE_ENV=development
export ALCHEMY_API_KEY=
export ETHERSCAN_API_KEY=
export BSCSCAN_API_KEY=
export POLYGONSCAN_API_KEY=
export SNOWTRACE_API_KEY=
export ETH_LIVE_NETWORK=
export POLYGON_TEST_NETWORK=
export POLYGON_LIVE_NETWORK=
export BSC_LIVE_NETWORK=
export BSC_TESTNET_LIVE_NETWORK=
export TEST_ACCOUNT_PRIVATE_KEY=
export OWNER=