
export NODE_ENV=development
export ALCHEMY_API_KEY=
export ETHERSCAN_API_KEY=
export BSCSCAN_API_KEY=
export POLYGONSCAN_API_KEY=
export SNOWTRACE_API_KEY=
export RINKEBY_LIVE_NETWORK=
export ETH_LIVE_NETWORK=
export POLYGON_LIVE_NETWORK=
export POLYGON_LIVE_NETWORK=
export BSC_LIVE_NETWORK=
export BSC_TESTNET_LIVE_NETWORK=
export TEST_ACCOUNT_PRIVATE_KEY=
export MULTICHAIN_STAKING_CONTRACT_OWNER_ADDRESS=