# Create ./localConfig and copy this file to ./localConfig/test.env
ALCHEMY_API_KEY=NA
ETHERSCAN_API_KEY=NA
BSCSCAN_API_KEY=NA
POLYGONSCAN_API_KEY=NA
SNOWTRACE_API_KEY=NA
ARBISCAN_API_KEY=NA
RINKEBY_LIVE_NETWORK=https://rpc.ankr.com/eth_rinkeby
ETH_LIVE_NETWORK=https://mainnet.infura.io/v3/18b15ac5b3e8447191c6b233dcd2ce14
POLYGON_LIVE_NETWORK=https://rpc-mainnet.maticvigil.com/
POLYGON_LIVE_NETWORK=https://polygon-mainnet.g.alchemy.com/v2/DDgMNM2SpQY2IR3_jTYsD_wGDcMEqSfJ
BSC_LIVE_NETWORK=https://bsc-dataseed.binance.org/
BSC_TESTNET_LIVE_NETWORK=https://data-seed-prebsc-1-s3.binance.org:8545/
QP_CONFIG_FILE=./localConfig/QpLocalConfig.yaml